.header  {
    font-family: 'Merriweather', serif;
    font-size: 30px;
}
.map {
    padding-top: 30px;
    fill:#f1f1f1;
}
.map-country {
    margin: 0;
}
.selected {
    stroke-width: 2px;
    stroke: black;
}