@header-height: 30px;
@map-height: 500px;
@color-box-height: 10px;
@color-box-width: 100px;

@border-color: black;
@level-0: #f1f1f1;
@level-1: #fdf4e3;
@level-2: #f7d7ad;
@level-3: #f3c498;
@level-4: #eb9f6f;
@level-5: #e17a5d;
@level-6: #ca4a32;
@level-7: #942412;

svg {
    width: 100%;
    height: auto;
}
.header  {
    font-family: 'Merriweather', serif;
    font-size: 30px;
    height: @header-height;
}
.map {
    padding-top: 30px;
    height: @map-height;
}
.map-country {
    margin: 0;
    fill: @level-0;
    &[aria-selected="true"] {
        stroke-width: 2px;
        stroke: @border-color;
    }
    &[aria-level="0"] {
        fill:@level-0;
    }
    &[aria-level="1"] {
        fill:@level-1;
    }
    &[aria-level="2"] {
        fill:@level-2;
    }
    &[aria-level="3"] {
        fill:@level-3;
    }
    &[aria-level="4"] {
        fill:@level-4;
    }
    &[aria-level="5"] {
        fill:@level-5;
    }
    &[aria-level="6"] {
        fill:@level-6;
    }
    &[aria-level="7"] {
        fill:@level-7;
    }
}
.color-code-ul {
    display: flex;
    justify-content: left;
    align-content: center;
    margin: 0;
    & .color-code-li {
        display: flex;
        align-items: center;
    }
    & .color-box {
        height: @color-box-height;
        width: @color-box-width;
        align-self: flex-start;
        align-content: center;
        padding: 0;
        background-color: @level-0;
        border: 1px solid gray;

        &[aria-level="0"] {
            background-color:@level-0;
            margin-right: 40px;
            width: 40px;
        }
        &[aria-level="1"] {
            background-color:@level-1;
            margin-right: 0;
        }
        &[aria-level="2"] {
            background-color:@level-2;
            margin-right: 0;
        }
        &[aria-level="3"] {
            background-color:@level-3;
            margin-right: 0;
        }
        &[aria-level="4"] {
            background-color:@level-4;
            margin-right: 0;
        }
        &[aria-level="5"] {
            background-color:@level-5;
            margin-right: 0;
        }
        &[aria-level="6"] {
            background-color:@level-6;
            margin-right: 0;
        }
        &[aria-level="7"] {
            background-color:@level-7;
            margin-right: 0;
        }
    }
}
.color-code-div {
    margin: 20px;
    & .color-code-ul,
    & .range-label {
        width: 100px;
        text-align: center;
        font-size: 12px;
    }
    & .no-data-label {
        width: 35px;
        text-align: center;
        font-size: 12px;
    }
}
.progress-div {
    margin: 50px;
    display: flex;
    & .progress-bar {
        width: 800px;
    }
    & .play-pause-btn {
        width: 25px;
        cursor: pointer;
    }
    & .hide-icon {
        display: none;
    }
}